    :root{
        --cor-de-fundo: #006989;
        --branco:#EAEBED;
        --cinza:#A3BAC3;
        --botao-ativo:#01A7C2;
        --ceano-2:rgba(o, 112, 144, 0.8);
    }
    body{ 
        background-color: var(--cor-de-fundo);
    }